@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #435165;
}

input {
    outline: none;
}
.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    padding-bottom: 10px;
}
.login h1 {
    text-align: center;
    color: #5b6574;
    font-weight: 500;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 7px;
}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #8fe508;
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.buttonLogin {
    background-color: #8fe508;
    color: #ffffff;
    width: 100%;
    border: none;
    height: 50px;
    transition: 0.3s;
    margin: 0px 20px
}

.message_error {
    width: 100%;
    background-color: #dc3545;
    color: white;
    margin: 2px;
    padding: 5px;
    margin: 0px 20px 10px;
    display: none;
    border-radius: 2px;
}
.message_succes {
    width: 100%;
    background-color: #8fe508;
    color: white;
    margin: 2px;
    padding: 5px;
    margin: 0px 20px 10px;
    display: none;
    border-radius: 2px;
}

.buttonLogin:hover {
    background-color: #82ce08;
}